###############################################################################
# CORE RULE: Ignore everything except the app and Documents folders
###############################################################################

/*
!/app/
!/Documents/
!/.gitignore

# Keep essential build files (Recommended for project builds)
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/gradlew
!/gradlew.bat
!/gradle/

# Ignore the .idea folder specifically
.idea/

# Presentation script
Presentation_Script.md

